app/.local
app/.cache
app/.bash_history
app/.python_history
__pycache__/
client/node_modules
docker/.env
docker/nginx.conf
docker/cabestan.conf
docker/ip_allow.conf
app/media/*

# For developers who like to have a tmp folder inside project
tmp
.env.act
docker/certbot